@import "../../app/_styles/mixins";

.slider {

    &__buttons {
        display: flex;
        column-gap: 1.2rem;
        justify-content: right;
        margin-bottom: 1.6rem;

        & button {
            cursor: pointer;
        }
    }

    &__image {
        width: 38rem;
        height: 38rem;
        border-radius: 2.4rem;
        overflow: hidden;
        margin-bottom: 1.6rem;

        @include screen-breakpoint($screen-middle-px) {
            width: 31rem;
            height: 31rem;
        }

        @include screen-breakpoint($screen-small-px) {
            width: 24rem;
            height: 24rem;
            margin-bottom: 1.2rem;
        }

        & img {
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.27273;
        color: var(--color-transparent-white);
        margin-bottom: 1.2rem;

        @include screen-breakpoint($screen-middle-px) {
            font-size: 1.8rem;
            line-height: 1.33333;
        }

        @include screen-breakpoint($screen-small-px) {
            margin-bottom: .8rem;
        }
    }

    &__date {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.42857;
        color: var(--color-transparent-white);

        @include screen-breakpoint($screen-middle-px) {

        }

        @include screen-breakpoint($screen-small-px) {
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
}
