@import "../../app/_styles/mixins";

:root {
    --header-position: fixed;
    --header-background-color: linear-gradient(180deg, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, 0) 100%);
    --top-line-color: var(--color-white);
    --top-line-border-color: rgba(255, 255, 255, .3);
    --display-cta: block;
    --cta-background-color: transparent;
    --social-border-color: transparent;
}

.header {
    position: var(--header-position);
    top: 0;
    width: 100%;
    background: var(--header-background-color);

    &__top-line {
        display: flex;
        justify-content: space-between;
        padding: 2.8rem 0 2.4rem 0;
        color: var(--top-line-color);
        border-bottom: 1px solid var(--top-line-border-color);

        @include screen-breakpoint($screen-middle-px) {
            justify-content: normal;
            column-gap: 4rem;
        }

        @include screen-breakpoint($screen-small-px) {
            border-bottom: none;
        }
    }

    &__top-line-wrap {
        display: flex;
        align-items: center;

        &:first-child {
            column-gap: 5rem;

            @include screen-breakpoint($screen-middle-px) {
                flex: 1 1 0;
                justify-content: space-between;
                column-gap: normal;
            }
        }

        &:last-child {
            column-gap: 4rem;

            @include screen-breakpoint($screen-small-px) {
                column-gap: 2rem;
            }
        }
    }

    &__logo {
        flex-shrink: 0;

        & img {
            width: 15rem;

            @include screen-breakpoint($screen-middle-px) {
                width: 12.4rem;
            }

            @include screen-breakpoint($screen-small-px) {
                width: 11.7rem;
            }
        }
    }

    &__working-time,
    &__phone-number {
        display: flex;
        column-gap: 1.2rem;
        justify-content: center;

        & span {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.33333;

            @include screen-breakpoint($screen-middle-px) {
                font-size: 1.6rem;
            }

            @include screen-breakpoint($screen-small-px) {
                font-size: 1.4rem;
                line-height: 1.42857;
            }
        }
    }

    &__working-time {

        @include screen-breakpoint($screen-small-px) {
            display: none;
        }
    }

    &__phone-number {

        & svg {

            @include screen-breakpoint($screen-small-px) {
                display: none;
            }
        }
    }

    &__social-links {
        display: flex;
        column-gap: 2rem;

        @include screen-breakpoint($screen-middle-px) {
            display: none;
        }

        & a {
            flex-shrink: 0;

            & img {
                border: 1px solid var(--social-border-color);
                border-radius: 50%;
            }
        }
    }

    &__menu-btn {
        display: flex;
        column-gap: 1.2rem;
        justify-content: center;
        cursor: pointer;

        & span {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.33333;
            text-transform: uppercase;

            @include screen-breakpoint($screen-small-px) {
                display: none;
            }
        }
    }

    &__cta {
        display: var(--display-cta);
        padding: 2rem 0;

        @include screen-breakpoint($screen-middle-px) {
            padding: 1.2rem 0;
        }

        @include screen-breakpoint($screen-small-px) {
            padding: 0 0 1.2rem 0;
        }
    }

    &__cta-wrapper {
        --background-color: transparent;

        display: flex;
        column-gap: 2rem;
        padding: 1.2rem;
        border-radius: 3.6rem;
        background: var(--cta-background-color);

        @include screen-breakpoint($screen-small-px) {
            column-gap: 1.2rem;
        }

        & input {
            flex: 1 1 0;

            @include screen-breakpoint($screen-small-px) {
                width: 100%;
            }
        }
    }

    &__cta-btn {
        display: flex;
        column-gap: 1.2rem;
        align-items: center;
        padding: 1.2rem 2.4rem;
        border: 1px solid rgba(255, 255, 255, .6);
        border-radius: 2.4rem;
        cursor: pointer;
        flex: 1 1 0;

        @include screen-breakpoint($screen-middle-px) {
            flex: none;
        }

        & span {
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.33333;
            color: var(--color-white);
        }

        &:nth-child(3) {

            @include screen-breakpoint($screen-small-px) {
                padding: 1.2rem;
            }

            & span {

                @include screen-breakpoint($screen-small-px) {
                    display: none;
                }
            }
        }

        &:nth-child(4) {

            @include screen-breakpoint($screen-middle-px) {
                padding: 1.2rem;
            }

            & span {

                @include screen-breakpoint($screen-middle-px) {
                    display: none;
                }
            }
        }
    }
}
