@import "../../../app/_styles/_mixins.scss";

.container {
    max-width: 1240px;
    padding: 0 3rem;
    margin: 0 auto;

    @include screen-breakpoint($screen-small-px) {
        padding: 0 2rem;
    }
}
