@import "../../../app/_styles/mixins";

.stocks-items {
    grid-column: span 9;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem 2rem;
        margin-bottom: 4rem;

        @include screen-breakpoint($screen-middle-px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem 2rem;
            margin-bottom: 2rem;
        }

        @include screen-breakpoint($screen-small-px) {
            grid-template-columns: 1fr;
            gap: 3rem 0;
        }
    }

    &__button {
        text-align: center;

        & button {

            @include screen-breakpoint($screen-small-px) {
                width: 100%;
            }
        }
    }
}