@import "../../../app/_styles/mixins";

.main-banner-slider {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;

  &__buttons {
    position: absolute;
    bottom: 9.4rem;
    left: 13rem;
    z-index: 1;
    display: flex;
    column-gap: 2rem;
    cursor: pointer;

    @include screen-breakpoint($screen-middle-px) {
      display: none;
    }
  }
}
