@import "../../app/_styles/mixins";

.renters-list {

    &__heading {
        color: var(--color-primary-blue);
        margin-bottom: 3rem;

        @include screen-breakpoint($screen-middle-px) {
            margin-bottom: 2.4rem;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 2rem;
    }
}