html {
    font-size: var(--font-size-base);

    @media screen and (max-width: $screen-large-px) {
        @include adaptive-font-size(var(--screen-large-num));
    }

    @media screen and (max-width: $screen-middle-px) {
        @include adaptive-font-size(var(--screen-middle-num));
    }

    @media screen and (max-width: $screen-small-px) {
        @include adaptive-font-size(var(--screen-small-num));
    }
}

body {
    font-family:
            var(--family-raleway),
            Inter,
            -apple-system,
            BlinkMacSystemFont,
            'Segoe UI',
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            'Fira Sans',
            'Droid Sans',
            'Helvetica Neue',
            sans-serif;
    font-style: normal;
}

[class*='__container'] {
    max-width: 1240px;
    padding: 0 3rem;
    margin: 0 auto;

    @include screen-breakpoint($screen-small-px) {
        padding: 0 2rem;
    }
}

.body-hidden {
    overflow: hidden;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1000vh;
        background: rgba(0, 0, 0, .5);
    }
}

.svg-icon {
    width: 2.4rem;
    height: 2.4rem;
}

.hidden {
  display: none !important;
}
