@font-face {
    font-family: 'Raleway';
    src: url('/public/fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway'),
    url('/public/fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/Raleway-Regular.woff2') format('woff2'),
    url('/public/fonts/Raleway-Regular.woff') format('woff'),
    url('/public/fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RussoOne';
    src: url('/public/fonts/RussoOne-Regular.eot');
    src: local('RussoOne'), local('RussoOne'),
    url('/public/fonts/RussoOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/RussoOne-Regular.woff2') format('woff2'),
    url('/public/fonts/RussoOne-Regular.woff') format('woff'),
    url('/public/fonts/RussoOne-Regular.ttf') format('truetype');
}
